main, h1, h3, h4, h5{
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
}



.locationButtons {
    display: flex;
    justify-content: center;
}

.selectedArea {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(45, 165, 104);
    width: 300px;
    height: 600px;
}

.locationMain {
    background-color: rgb(45, 165, 104);
}

.homeMain {
    background-color: rgb(62, 187, 142);
}

.topButton {
    margin-top: 140px;
    margin-bottom: 20px;
}

.locationArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(245, 245, 245);
    height: 650px;
    padding-bottom: 40px;
}

.liveImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-fit: cover;
}
.thumbnail {
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-fit: cover;
}
