@import url("reset.css");

$body-font-size: calc(16px + 2vw);
$light-grey: lighten(grey, 25);

// html{
//   border: 10px solid black; 
// }

body{
  font-size: $body-font-size;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light-grey;
}

.label{
  font-size: calc(#{$body-font-size}*.8);
}
.wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
}

main{
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.landing-page-main{
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  min-height: 90vh;
  top: 0;
  postion: absolute;
}


.heading-wrapper{
  display: flex;
  justify-content: center;
  font-size: calc(#{$body-font-size}*1.2);
  text-align: center;
}

.tagline-wrapper{
  display: flex;
  justify-content: center;
  width: 90vw;
  text-align: center;
  font-size: $body-font-size;
}

.location-list-wrapper{
  margin-top: calc(10px + 5vw);
  margin-bottom: calc(10px + 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
}
.location-button{
  margin-right: calc(10px + 2vw);
  margin-left: calc(10px + 2vw);
  margin-top: calc(15px + 2vw);
  margin-bottom: calc(15px + 2vw);
  width: 50vw;
  background-color: $light-grey;
  box-shadow: 0px 0px 20px  0px black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;

  &:active{
    box-shadow: none;
    border: 1px inset black;
  }
}
.location-button-text-wrapper{
  display: flex;
  justify-content: center;
  background-color: darken(red, 30);
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  font-size: calc(16px + 2vw);
  border-radius: 25px;
  color: $light-grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, black, white, black);
}

.image-placeholder{
  // background-color: black;
  // background-image: url("https://res.cloudinary.com/enviropi/image/upload/v1493916847/jxiwx7isyj4rxhbyj5ce.jpg");
  background-repeat: no-repeat;
  width: 90vw;
  height: 60vmin;
  flex-grow: 1;
  background-size: contain;
  background-position: center top;
  border-left: 5px solid black;
  border-right: 5px solid black;
  
  // box-shadow: 0 0  0 10px blue;
}

.date-time-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.temperature-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}