main, h1 , h5{
    display: flex;
    justify-content: center;
}

.locationButtons {
    display: flex;
    justify-content: center;
}

.selectedArea {
    margin-top: 20px;
    background-color: rgb(45, 165, 104);
    width: 50%;
    height: 600px;
}

.topButton {
    margin-top: 180px;
    margin-bottom: 20px;
}
